<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title 1st-project
    body
        h1 1st-project 
        h2 menu
        h3 [intro] [community] [map] [node] [4leaf]